groups:
- name: rec-backup
  rules:
  - record: backup:last_run_age_seconds
    expr: time() - max by (name, instance) (backup_last_run_timestamp_seconds{role="backup"})

  - record: backup:last_status
    expr: max by (name, instance) (backup_last_status{role="backup"})

  - record: backup:last_size_bytes
    expr: max by (name, instance) (backup_last_size_bytes{role="backup"})

  - record: backup:last_duration_seconds
    expr: max by (name, instance) (backup_last_duration_seconds{role="backup"})
