[Unit]
Description=Export WireGuard metrics to node_exporter textfile
After=wg-quick@.service

[Service]
Type=oneshot
User=root
Group={{ node_wg_group }}
UMask=0002
ExecStart=/usr/local/bin/wg_textfile.sh
StandardOutput=journal
StandardError=journal
TimeoutStartSec=120
