apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    isDefault: true
    url: "http://127.0.0.1:{{ prometheus_port | default(9090) }}"
    jsonData:
      httpMethod: POST
      timeInterval: 5s
