[
{% set items = (ru_zondes | default([])) | selectattr('instance', 'defined') | list -%}
{%- for z in items %}
  {
    "targets": ["{{ z.instance }}"],
    "labels": {{ (
      {'name': z.name, 'role': (z.role | default('probe'))}
      | combine(z.labels | default({}))
    ) | to_json }}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
]