{% import "shared/_vff_macros.j2" as vff with context -%}
[
{% for h in groups['ru_zondes'] | default([]) -%}
  {
    "targets": ["{{ vff.instance(h) }}"],
    "labels": {
      "name": "{{ hostvars[h].probe_label | default(hostvars[h].node_name | default(h)) }}",
      "role": "probe"
    }
  }{% if not loop.last %},{% endif %}
{%- endfor %}
]
