[Interface]
Address = {{ hostvars[inventory_hostname].wg_ip }}/32
PrivateKey = {{ node_wg_privkey }}
MTU = {{ wg_mtu }}

[Peer]
# hub
PublicKey = {{ hub_wg_pubkey_effective }}
Endpoint = {{ hub_public_endpoint }}:{{ wg_listen_port }}
AllowedIPs = {{ hub_wg_ip }}/32
PersistentKeepalive = 25
