# переопределить дефолты из скрипта, если нужно
# SKIP_BUSY=true
# BUSY_THRESH=0.50
# PROM_URL={{ ru_probe_prom_url }}
# PROM_USER={{ ru_probe_prom_user }}
# PROM_PASS={{ ru_probe_prom_pass }}
# DURATION={{ ru_probe_duration }}
# PAR={{ ru_probe_parallel }}
