[Unit]
Description=Run Ookla speedtest and export Prometheus textfile
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User={{ node_speedtest_user }}
Group={{ node_speedtest_group }}
UMask=0002
ExecStart=/usr/local/bin/speedtest_textfile_ookla.sh
Nice=10
StandardOutput=journal
StandardError=journal
TimeoutStartSec=600