{% set have_tg = (am_telegram_bot_token | default('') | length) > 0
                  and (am_telegram_chat_id | default(None)) is not none %}
route:
  receiver: {{ 'telegram' if have_tg else 'blackhole' }}
receivers:
  {% if have_tg %}
  - name: telegram
    telegram_configs:
      - bot_token: "{{ am_telegram_bot_token }}"
        chat_id: {{ am_telegram_chat_id | int }}
  {% endif %}
  - name: blackhole