[Unit]
Description=Prometheus Node Exporter (%i)
After=network-online.target
Wants=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
UMask=0002
ExecStart={{ node_exporter_bin_dir }}/node_exporter \
  --web.listen-address=%i \
  --collector.textfile.directory={{ node_exporter_textfile_dir }}
Restart=always
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
